body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-align: center;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

/* Fixed Header */

header {
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo {
  display: flex;
  padding-left: 10px;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 50px;
}

nav {
  display: flex;
  padding-right: 40px
}

nav span {
  display: inline-block;
  padding: 100px 10px;
}

a {
  color: inherit;
}

/* Main content area */

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 80px;
  width: 1200px
  margin:auto;
}

.mission {
  display: flex;
  background-image: url("../../resources/images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  padding-top: 70px;
}

.mission-Copy {
  justify-content: center;
  margin: auto;
  background-color: black;
  width: 100%;
}

h2 {
  display: block;
}

h2 h3 h4 {
  padding: 10px
}

.SelectTeas {
  min-height: 700px;
  width: 100%;
  max-width: 1000px;
  padding-top: 70px;
}

.TeaBrands {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Tea {
  padding: 5px;
}

.Tea span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

.Tea img {
  display: block;
  height: 200px;
  width: 300px;
  margin: 10px;
}

.Stores {
  display: flex;
  flex-direction: column;
  background-image: url("../../resources/images/img-locations-background.jpg");
  width: 1200px;
  min-height: 600px;
  margin-top: 50px;
}

.Locations {
  width: 100%;
}

.ThreeStores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Downtown, .East, .Oakdale {
  margin: 15px 20px;
  background-color: black;
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Downtown span, .East span, .Oakdale span {
  display: block;
  padding: 20px 0px;
}

.Contact {
  height: 200px;
  width: 100%;
}

footer {
  text-align: left;
  padding-left: 20px;
  width: 100%;
}
